* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400;1,700&display=swap');

body {
    background: #050505;
    width: 100%;
}

nav {
    background: #dbdbdb;
    display: flex;
}

.imagenLogo {
    width: 80px;
    margin-left: 30px;
}

.menu {
    padding-left: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: inline-block;
    padding: 20px;
    justify-content: end;
    font-family: "Ubuntu", sans-serif;
}

.titulo {
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20;
    margin: 0 auto;
    margin-top: 30px;
}
#contenedor-productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.producto {
    width: 30%;
}
.card {
    position: relative;
    padding: 5px 5px;
    width: 60%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);

}

.card p {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    
}

.card div img{
    max-width: 100%;
}

.imagenProducto {
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

p {
    color: #0a0a0a;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-family: Lato-Black;
    padding: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.btnAgregar {
    height: 40px;
    padding: 0 10%;
    border-radius: 25px;
    border: 2px solid #9e9e9e;
    background: #dee81a;
    color: #393a3a;
    font-family: "Ubuntu", sans-serif;
    transition: .5s ease;
}

.btnAgregar:hover {
    background: #1aff00;
    color: #353535;
}

.btnAgregar:active {
    background: #1d5500;
}


.cart {
    position: absolute;
    right: 35px;
    top: 25px;
    text-decoration: none;
}

.iconoCarrito {
    width: 30px;
    margin-right: 10px;
}

.cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contadorCarrito {
    position: absolute;
    width: 15px;
    height: 15px;
    color: white;
    background: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    max-height: 90vh;
    overflow-y: scroll;
}

.modal-carrito:hover {
    scroll-behavior: auto;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
    text-align: center;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
}

.productoEnCarrito {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito p {
    width: 35%;
    flex-wrap: wrap;
}
.productoEnCarrito:hover {
    border: 2px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.imagencarrito {
    width: 100px;
    height: 100px;
}

.botonera {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#vaciar-carrito {
    align-content: center;
    padding: 10px;
    background-color: rgb(114, 114, 114);
    border-radius: 10px;
}
#finalizar-compra {
    align-content: center;
    padding: 10px;
    background-color: rgb(114, 114, 114);
    border-radius: 10px;
}

.botonCarro {
    display: flex;
    align-items: center;
    margin-left: 1300px;
}

#boton-carrito {
    width: 50px;
    height: 40px;
}

.botonera {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.botonera p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dbdbdb;
}

#botonZapatillas, #botonPantalones, #botonTodos{
    padding: 8px;
    justify-content: center;
}


/*Finalizar Compra*/
.formulario {
    max-width: 60rem;
    margin: 0 auto;
  }
  .formulario fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
  }
  @media (max-width: 768px) {
    .formulario fieldset {
      padding: 2rem;
      background: #dbdbdb;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #050505;
    }
  }
  .formulario legend {
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
  }
  .formulario .campo {
    display: flex;
    margin-bottom: 2rem;
  }
  .formulario .campo label {
    flex-basis: 10rem;
    color: #fff;
    margin-left: 3rem;
  }
  @media (max-width: 768px) {
    .formulario .campo label {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .formulario #email {
      margin-left: 3rem;
    }
  }
  .formulario .campo input:not([type=radio]),
  .formulario textarea,
  .formulario select {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
    margin-right: 2rem;
  }
  @media (max-width: 768px) {
    .formulario input, .formulario #date {
      width: 90%;
      padding-left: 2rem;
    }
  }
  #enviar {
    padding: 15px;
  }

  .submitEnviar {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
  }
  
